.card {
  border-radius: 0.5rem;
  background-color: var(--containerBgColor);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.card__body {
  padding: 1rem 1.5rem;
}

.card__title {
  color: var(--textColorPrimary);
}

.card__description {
  color: var(--textColorSecondary);
}

.card__img {
  height: 15rem;
  object-fit: cover;
  object-position: top center;
}
