.card {
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
}

.card__body {
  padding: 1rem 1.5rem;
}

.card__title {
  color: var(--textColorPrimary);
}

.card__description {
  color: var(--textColorSecondary);
}

.card:hover {
  box-shadow: 0px 50px 77px rgb(176 183 195 / 22%);
}

.card__img {
  height: 15rem;
  object-fit: cover;
  object-position: top center;
}
