.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.z-1 {
  z-index: 1;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.mt-4 {
  margin-top: 1rem;
}

.break-word {
  word-break: break-word;
}

.capitalize {
  text-transform: capitalize;
}
